body {
  font-family: Raleway, sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#wrapper {
  background-image: url("images/background.png");
  height: 300px;
}

header li,
div li {
  display: inline;
  margin-right: 10px;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#nav-buttons-container {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
}

.nav-buttons {
  background-color: red;
  color: #fff;
  padding: 1em;
  border: none;
  border-radius: 2em;
  width: 10rem;
  margin: 0.2em;
  font-weight: bold;
}

.nav-buttons:hover {
  background-color: firebrick;
}

#sign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
  position: relative;
  width: 280px;
  height: 230px;
  padding: 10px;
  border-radius: 15px;
  top: -30px;
  left: 40px;
  font-size: 0.9em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

#sign p {
  margin: 0;
}
#sign-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pin {
  height: 1em;
  margin-right: 1em;
}

nav {
  background-color: darkblue;
  height: 30px;
  display: flex;
  align-items: center;
}

nav li {
  color: #fff;
  display: inline-flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

nav ul {
  margin: 0px;
}

#list-header-container {
  display: flex;
  flex-direction: row;
  width: 920px;
  margin: -150px auto 0px auto;
  justify-content: space-between;
  align-items: baseline;
}

#page-prev-next {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

#divider {
  width: 920px;
  margin-bottom: 10px;
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 3px;
}

#content {
  width: 920px;
  margin: auto;
}

footer {
  background-color: darkblue;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  height: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.py-60 {
  padding-top: 60px;
}

#heart-logo {
  width: 50px;
}

#logo {
  background-color: #fff;
  margin-left: 20px;
}

#profileIcon {
  width: 30px;
  margin: 20px;
}

#shoppingTrolley {
  width: 18px;
}

#searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

#searchButton {
  background-color: rgb(253, 52, 21);
  width: 60px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchIcon {
  width: 20px;
}

#keywords {
  color: darkgray;
  background-color: #fff;
  font-size: 15px;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.foodTitleList {
  margin: auto;
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

select {
  height: 30px;
}

#foodPicList {
  margin: auto;
  width: 920px;
  flex-wrap: wrap;
}

.foodImgContainer {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.foodImages {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

.foodImgLabel {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  padding-top: 0.5em;
  /* background-color: rgb(244, 130, 37); */
  background-color: rgb(39, 93, 43);
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

#numberMeals {
  width: 920px;
  margin: auto;
  text-align: right;
  color: darkgray;
}

.foodTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.foodTitle a {
  color: #000;
  text-decoration: none;
  width: 300px;
  cursor: pointer;
}

.starRating {
  margin-right: 20px;
  color: rgb(43, 36, 36);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  width: 300px;
}

.categoryImage {
  width: 300px;
  height: 240px;
  object-fit: cover;
}

.category {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
}

.category h1 {
  color: black;
  margin: 0;
}
.categoryList {
  margin-top: 10px;
}

.categoryDivider {
  width: 920px;
  margin-bottom: 30px;
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 3px;
}

.category-wrapper {
  width: 800px;
  margin: auto;
}
